{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %} 
<link rel="stylesheet"  href = "{% static 'mainAlgo/BST.css' %}">


<div>
    <div id = "Svg-Box">
        <svg id='svg' width='100%' height='600px'>
            <defs id='mardef'>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                    <polygon points="0 0, 10 3.5, 0 7" />
                </marker>
            </defs>
        </svg>
    </div>
    <div id='List-Operations ' class='d-inline-block'>
        <div id="input-container">
            <div class="input-group">
                <input id="inputval" type="text" class="form-control" placeholder="Enter Value Here:">
                
            </div>

            <small class="text-muted">Enter Numbers.Numbers must be less than 100<br>Max
                Length of List is 9.</small>
        </div>
        <div id='Buttons'>
            <button id='insert' class='btn btn-secondary text-white'>Insert</button>
            <button id='search' class='btn btn-secondary text-white'>Search</button>
            <button id='delete' class='btn btn-secondary text-white'>Delete</button>

            <div class='Insert-block dropup d-inline-block'>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="traversaldrop" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tree Traversal
                </button>
                <div class='dropdown-menu bg-secondary ' aria-labelledby="traversaldrop">
                    <a id='preordertraversal' class='text-white dropdown-item bg-secondary'>PreOrder Traversal</a>
                    <a id='inordertraversal' class='text-white dropdown-item bg-secondary'>InOrder Traversal</a>
                    <a id='postordertraversal' class='text-white dropdown-item bg-secondary'>PostOrder Traversal</a>
                </div>
            </div>
        </div>
        <div id = 'slidercontainer'>
            <label for = 'slider'>Time(<span id = 'sliderval'>500</span>ms)</label>
            <input id = 'slider'  type="range" class="form-control-range" min='250' max = '1000'>
        </div>
        <div id = 'Output'>
            <h4 id='optitle' ></h4>
            <p id = 'outputlist' >-</p>
        </div>

        
    </div>
    
    <div class="about-info container-fluid">
        <h3  class="text-muted mb-md-0 mb-5 bold-text" >Binary Search Tree </h3>
        <p style=" color: #627482;font-size: 11pt;  margin-left: 2%;">BST is an Abstarct Data Type.The items are 
        stored the form of tree where the items less than the root are on left and greater on right.</p>
        <h6  class="text-muted mb-md-0 mb-5 bold-text" style="margin-left: 2%;">Psuedo Code :</h6>
        <p  style=" color: #627482; font-size: 11pt;margin-left: 4%;">
            Inserting:
        </p>
        <ol style=" color: #627482;font-size: 11pt;margin-left: 6%;">
            <li>We will start from the root.</li>
            <li>Iterate till the root is null. And move toward left if the item is less than the given item. or
                right if it is greater. and storing the item. This will be the parent of the node to be inserted
            </li>
            <li>Now, If the given item is greater than it will be the right of the parent node else it will be the right.
            </li>
        </ol>
        <p  style=" color: #627482; font-size: 11pt;margin-left: 4%;">
            Searching:
        </p>
        <ol style=" color: #627482;font-size: 11pt;margin-left: 6%;">
            <li>We will start from the root.</li>
            <li>Iterate till the root is null. And move toward left if the item is less than the given item. or
                right if it is greater. and if it is equal to the given item returning true.else returning false.
            </li>
        </ol>

        <p  style=" color: #627482; font-size: 11pt;margin-left: 4%;">
            Deleting:
        </p>
        <ol style=" color: #627482;font-size: 11pt;margin-left: 6%;">
            <li>We will start from the root.</li>
            <li>Iterate till the root is null. And move toward left if the item is less than the given item. or
                right if it is greater. till we find the node.
            </li>
            <li>If the node doesn't have any children. Then just delete it.
            </li>
            <li>If the node doesn't have a children on left then removing the current node and let the right take its place.
                and vice versa.
            </li>
            <li>If the node does have node on left and right then finding the successor of current node and swapping the their
                places and deleting the given node.
            </li>
        </ol>
    </div>

    <script src="{% static 'mainAlgo/BST.js' %}"></script>

</div>
{% endblock %}