{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainAlgo/Bubble_Sort.css' %}">

<div>
    <div id = 'main-div'>
        <div id="input-container" class="d-inline-block">
            <div class="form-outline">
                <input id="inputarr" type="text" class="form-control" placeholder="Enter Array Here:">
            </div>
            <small class="text-muted">Enter Numbers Separated by commas.<br>List must not contain repetitions.<br>Max
                Length is 20.</small>
        </div>
        <button id='make-list' class="btn btn-secondary d-inline-flex"> Make List</button>
        <button id='generate-random' class="btn btn-secondary">Generate Random</button>
    
        <div id = 'slidercontainer' class="d-inline-flex">
            <label for = 'slider'>Speed(<span id = 'sliderval'>250</span>ms)</label>
            <input id = 'slider'  type="range" class="form-control-range" min='50' max = '500'>
        </div>
    
        <button id='start' class="btn btn-secondary d-inline-flex float-right"> Start</button>
    </div>
    <script src="{% static 'mainAlgo/Bubble_Sort.js' %}">
    </script>
</div>
{% endblock %}