{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}

<style>
    #main-container {
        min-height: calc(100vh-96px-350px);
        margin-top: 50px;
        margin-bottom: 100px;
        
    }
</style>
<div id="main-container" class="container-fluid align-top"" id="Main-Page">

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style="max-width: 300px;">

        <div class="card-body">
            <h4 class="card-title">Sorting</h4>

        </div>
        <div class="card-footer">
            <a class="card-link  btn btn-dark" href="{% url 'bubble-sort' %}">Bubble Sort</a>
            <a class="card-link  btn btn-dark" href="{% url 'insertion-sort' %}">Insertion Sort</a>
            <a class="card-link  btn btn-dark ml-auto" href="{% url 'merge-sort' %}">Merge Sort</a>
            <a class="card-link  btn btn-dark ml-md-4" href="{% url 'quick-sort' %}">Quick Sort</a>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top">

        <div class="card-body">
            <h4 class="card-title">Linked List</h4>
            <p class="card-text">Enter Remove Search</p>
        </div>
        <div class="card-footer text-center">

            <a class="card-link btn btn-dark" href="{% url 'linked-list' %}">Go</a>

        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style="min-width: 300px;">

        <div class="card-body">
            <h4 class="card-title">Stack</h4>
            <p class="card-text">Push Pop</p>
        </div>
        <div class="card-footer text-center">

            <a class="card-link btn btn-dark" href="{% url 'stack' %}">Go</a>

        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style="min-width: 300px;">

        <div class="card-body">
            <h4 class="card-title">Queue</h4>
            <p class="card-text">EnQueue Dequeue</p>
        </div>
        <div class="card-footer text-center">

            <a class="card-link btn btn-dark" href="{% url 'queue' %}">Go</a>

        </div>
    </div>
    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style="min-width: 300px;">

        <div class="card-body">
            <h4 class="card-title">Binary Search Tree</h4>
            <p class="card-text">Insert Search Delete Traversal</p>
        </div>
        <div class="card-footer text-center">

            <a class="card-link btn btn-dark" href="{% url 'bst' %}">Go</a>

        </div>
    </div>

</div>
{% endblock %}