{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'mainAlgo/Insertion_Sort.css' %}">


<div>
    <div id='sort-info'>
        <ul>
            <li id='unvisited'>Unvisited</li>
            <li id='current'>Sorting</li>
            <li id='checked'>Sorted</li>
        </ul>
    </div>
    <div id='main-div'>
        <div id="input-container" class="d-inline-block">
            <div class="form-outline">
                <input id="inputarr" type="text" class="form-control" placeholder="Enter Array Here:">
            </div>
            <small class="text-muted">Enter Numbers Separated by commas.<br>List must not contain repetitions.<br>Max
                Length is 20.</small>
        </div>
        <button id='make-list' class="btn  d-inline-flex"> Make List</button>
        <button id='generate-random' class="btn  d-inline-flex">Generate Random</button>

        <div id='slidercontainer' class="d-inline-flex">
            <label for='slider'>Time(<span id='sliderval'>250</span>ms)</label>
            <input id='slider' type="range" class="form-control-range" min='50' max='500'>
        </div>
        <button id='bigsort' class="btn d-inline-flex" href="{% url 'big-insertion-sort' %}"> Big Insertion
            Sort</button>
        <button id='start' class="btn d-inline-flex float-right"> Start</button>
    </div>
    <div class="about-info container-fluid">
        <h3  class="text-muted mb-md-0 mb-5 bold-text" >Insertion Sort </h3>
        <p style=" font-size: 11pt;  margin-left: 2%;">Insertion sort iterates through the input list, checking one element each time,
            and producing a sorted output list. Insertion sort takes one element from the input array at a time,
            identifies where it belongs in the sorted list, and inserts it there.
            It keeps on until there are no more input items.</p>
        <h6  class="text-muted mb-md-0 mb-5 bold-text">Psuedo Code :</h6>
        <p  style="  font-size: 11pt">
            To sort a given Array 'A':<br>
        <ol style=" font-size: 11pt;">
            <li>We will iterate through the list from arr[0] to arr[n-1].</li>
            <li>Then in each iterations we will save the current item.</li>
            <li>We will compare this item to all its predecessor. And if the predecessor is greater then
                we will move the items one position up till we reach the item which is less than the current item
                or end of the list and put the current item there.
            </li>
        </ol>
        </p>
    </div>
    <script src="{% static 'mainAlgo/Insertion_Sort.js' %}">
    </script>
</div>
{% endblock %}