{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}
    
<link rel="stylesheet" href="{% static 'mainAlgo/LinkedList.css' %}">


<div>
    <div id = "Svg-Box">
        <svg id='svg' width='100%' height='500px'>
            <defs id='mardef'>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                    <polygon points="0 0, 10 3.5, 0 7" />
                </marker>
            </defs>
        </svg>
    </div>
    <div id='List-Operations ' class='d-inline-block'>
        <div id="input-container">
            <div class="input-group">
                <input id="inputval" type="text" class="form-control" placeholder="Enter Value Here:">
                <span class="input-group-addon">--</span>
                <input id="index" type="text" class="form-control" placeholder="Enter Index Here:">
            </div>

            <small class="text-muted">Enter Numbers.Numbers must be less than 100<br>Max
                Length of List is 14.</small>
        </div>
        <div id='Buttons'>
            <div class='Insert-block dropup d-inline-block'>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="insertdrop" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Insert
                </button>
                <div class='dropdown-menu bg-secondary ' aria-labelledby="insertdrop">
                    <a id='insertatHead' class='text-white dropdown-item bg-secondary'>Insert at Head</a>
                    <a id='insertatIndex' class='text-white dropdown-item bg-secondary'>Insert at Index</a>
                    <a id='insertatEnd' class='text-white dropdown-item bg-secondary'>Insert at End</a>
                </div>
            </div>
            <div class = 'd-inline-block'>
                <button type="button" id = "search" class ='btn btn-secondary'>Search</button>
            </div>
            <div class="Delete-block dropup d-inline-block">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="deletedrop" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Delete
                </button>
                <div class='dropdown-menu bg-secondary ' aria-labelledby="deletedrop">
                    <a id='deletefromHead' class='text-white dropdown-item bg-secondary'>Delete from Head</a>
                    <a id='deletefromVal' class='text-white dropdown-item bg-secondary'>Delete from Index</a>
                    <a id='deletefromEnd' class='text-white dropdown-item bg-secondary'>Delete from End</a>
                </div>
            </div>
        </div>
        <div class="about-info">
  <h1>Linked List </h1>
    <p>A linked list is a linear collection of data components whose order is determined by their physical location in memory rather than by their physical order.<br> Instead, each element serves as a stepping stone to the next. It's a data structure made up of a number of nodes that together form a sequence.<br> Each node includes data and a reference to the next node in the sequence in its most basic form.</p>
    <p>During iteration, this structure enables for efficient insertion and removal of items from any place in the sequence. Additional linkages are added in more sophisticated versions, allowing for more efficient insertion and removal of nodes at random locations.</p>
  
</div>

    </div>

    <script src="{% static 'mainAlgo/LinkedList.js'%}"></script>
</div>
{% endblock %}
