{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href = "{% static 'mainAlgo/Homepage.css' %}">

<div class="container-fluid align-top" style="margin-top: 100px;" id="Main-Page">

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "max-width: 300px;">
        
        <div class="card-body">
            <h4 class="card-title">Sorting</h4>
            
        </div>
        <div class="card-footer">
            <a class="card-link  btn btn-dark" href = "#" >Bubble Sort</a>
            <a class="card-link  btn btn-dark" href = "{% url 'insertion-sort' %}" >Insertion Sort</a>
            <a class="card-link  btn btn-dark ml-auto" href = "#" >Merge Sort</a>
            <a class="card-link  btn btn-dark ml-md-4" href = "#" >Quick Sort</a>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" >
        
        <div class="card-body">
            <h4 class="card-title">Linked List</h4>
            <p class="card-text">Enter,Remove,Search</p>
        </div>
        <div class="card-footer text-center">
            
            <a class="card-link btn btn-dark" href = "#" >Go</a>
            
        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "min-width: 300px;">
        
        <div class="card-body">
            <h4 class="card-title">Stack</h4>
            <p class="card-text">Push,Pop,Search</p>
        </div>
        <div class="card-footer text-center">
            
            <a class="card-link btn btn-dark" href = "#" >Go</a>
            
        </div>
    </div>

    <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "min-width: 300px;">
        
        <div class="card-body">
            <h4 class="card-title">Queue</h4>
            <p class="card-text">EnQueue,Dequeue,Search</p>
        </div>
        <div class="card-footer text-center">
            
            <a class="card-link btn btn-dark" href = "#" >Go</a>
            
        </div>
    </div>

</div>
{% endblock %}