{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %} 
<link rel="stylesheet"  href = "{% static 'mainAlgo/Insertion_Sort.css' %}">


<div>
    <div id = "input-container">
        <div class = "form-outline">
            <input id = "list" type="text" class="form-control" placeholder="Enter Array Here:"> 
        </div>
        <small class = "text-muted">Enter Numbers Separated by commas.<br>Max Length is 20.</small>
    </div>
    <button id='generate-random' class = "btn btn-secondary" >Generate Randomly</button>


    <button id='btn' class = "btn btn-secondary" > Start</button>
    <button id='reset' class = "btn btn-secondary"> Reset</button>
    <script src="{% static 'mainAlgo/Insertion_Sort.js' %}">
    </script>
</div>
{% endblock %}