{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'mainAlgo/MS.css' %}">
<title>Merge Sort</title>
<div>

    <div id='rectdiv'>
        <canvas id='Canvas'></canvas>
    </div>

    <button id='generate-random' class="btn btn-secondary">Generate Random</button>

    <div id = 'slidercontainer'>
        <label for = 'slider'>Time(<span id = 'sliderval'>250</span>ms)</label>
        <input id = 'slider'  type="range" class="form-control-range" min='50' max = '500'>
    </div>

    <button id='start' class="btn btn-secondary"> Start</button>
    <script src="{% static 'mainAlgo/MS.js' %}">
    </script>
</div>
{% endblock %}