{% extends "mainAlgo/base.htm" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'mainAlgo/QS.css' %}">


<div>

    <div id='rectdiv'>
        <canvas id='Canvas'></canvas>
    </div>

    <button id='generate-random' class="btn btn-secondary">Generate Random</button>

    <div id='slidercontainer'>
        <label for='slider'>Time(<span id='sliderval'>250</span>ms)</label>
        <input id='slider' type="range" class="form-control-range" min='50' max='500'>
    </div>

    <button id='start' class="btn btn-secondary"> Start</button>
    <button id='reset' class="btn btn-secondary"> Reset</button>
    <script src="{% static 'mainAlgo/QS.js' %}">
    </script>
</div>
{% endblock %}