<!DOCTYPE html>
<html>

<head>
    <title>AlgoVisualize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: lightgray;
        }
        
        .card{
            
            min-width: 300px;
            height: 180px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">


        <a class="navbar-brand" href="{% url 'algo-home' %}">Algo Visualizer</a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" href="#">Home</a> </li>
        </div>
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{%  url 'profile' %}">Profile</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="login/">Login</a></li>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid align-top" style="margin-top: 100px;" id="Main-Page">

        <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "max-width: 300px;">
            
            <div class="card-body">
                <h4 class="card-title">Sorting</h4>
                
            </div>
            <div class="card-footer">
                <a class="card-link  btn btn-dark" href = "#" >Bubble Sort</a>
                <a class="card-link  btn btn-dark" href = "#" >Insertion Sort</a>
                <a class="card-link  btn btn-dark ml-auto" href = "#" >Merge Sort</a>
                <a class="card-link  btn btn-dark ml-md-4" href = "#" >Quick Sort</a>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 d-inline-block align-top" >
            
            <div class="card-body">
                <h4 class="card-title">Linked List</h4>
                <p class="card-text">Enter,Remove,Search</p>
            </div>
            <div class="card-footer text-center">
                
                <a class="card-link btn btn-dark" href = "#" >Go</a>
                
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "min-width: 300px;">
            
            <div class="card-body">
                <h4 class="card-title">Stack</h4>
                <p class="card-text">Push,Pop,Search</p>
            </div>
            <div class="card-footer text-center">
                
                <a class="card-link btn btn-dark" href = "#" >Go</a>
                
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 d-inline-block align-top" style = "min-width: 300px;">
            
            <div class="card-body">
                <h4 class="card-title">Queue</h4>
                <p class="card-text">EnQueue,Dequeue,Search</p>
            </div>
            <div class="card-footer text-center">
                
                <a class="card-link btn btn-dark" href = "#" >Go</a>
                
            </div>
        </div>

    </div>
</body>

</html>