#rectdiv{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

#Canvas{
    align-items: center;
}
#start {
    position: absolute;
    bottom: 5%;
    right: 5%;
}



#smallsort{
    position: absolute;
    right: 20%;
    bottom: 5%;
}



#generate-random {
    position: absolute;
    bottom: 5%;
    left: 20%;
}


