#List-Operations{
    width: 100%
}

#input-container{
    position: absolute;
    width: 250px;
    left: 10%;
    bottom: 5%;
}

#sort-info{
    position: absolute;
    top:20%;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
li {
    padding-left: 3em; 
    text-indent: -.7em;
  }

#unvisited::before {
    content: "◉"; font-family:"Arial Black";
    color: #14eb00; 
    
}

#current::before {
    content: "◉"; font-family:"Arial Black";
    color: red; 
}
#checked::before {
    content: "◉"; font-family:"Arial Black";
    color: orange; 
}


#slidercontainer{
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 150px;
}

#index{
    width: 50px;
}

#Buttons{
    position: absolute;
    bottom: 5%;
    left: 30%;
}

#Output{
    position: absolute;
    bottom: 10%;
    right: 30%;
}

.about-info{
    position:absolute;
    bottom:-80%;
}
#about-us {
    position:absolute;
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: -120%;
    height: 250px;
}