#rectdiv{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    padding: 10px;
}


#main-div{
    position: absolute;
    bottom: 5%;
    width: 100%;
}




#generate-random {
    margin: 1%;
    margin-left: 10%;
    width: 12%;
}

#start {
    margin: 2%;
    width: 5%;
}

#slidercontainer{
    margin: 2%;
}
#slider{
    width: 200px;
}