.test {
    border: 3px solid red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
}

#start {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#input-container {
    position: absolute;
    bottom: 1.6%;
    left: 2%;
}

#bigsort{
    position: absolute;
    right: 20%;
    bottom: 5%;
}

#reset {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

#generate-random {
    position: absolute;
    bottom: 8%;
    left: 30%;
}

#make-list{
    position: absolute;
    bottom: 8%;
    left: 20%;
}

#slidercontainer{
    position: absolute;
    bottom: 8%;
    left: 45%;
}
#slider{
    width: 200px;
}