#rectdiv{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items:center;
    padding: 10px;
}


#start {
    position: absolute;
    bottom: 5%;
    right: 5%;
}





#generate-random {
    position: absolute;
    bottom: 8%;
    left: 20%;
}



#slidercontainer{
    position: absolute;
    bottom: 8%;
    left: 35%;
}
#slider{
    width: 200px;
}