

#List-Operations{
    width: 100%
}

#input-container{
    position: absolute;
    width: 300px;
    left:5%;
    bottom: 5%;
}



#Buttons{
    position: absolute;
    bottom: 3%;
    left: 30%;
}
